* {
  
}
.container {
  position: relative;
  text-align: center;
  color: black;
  font-family: 'Titillium Web', sans-serif;
}

header img {
  width: 100%;
}

.name {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  font-weight: 900;
  letter-spacing: 4px;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 200;
}

.nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  /* background-color: aqua; */
}
li {
  cursor: pointer;
  list-style: none;
  margin: 10px;
  font-size: 24px;
  font-weight: 300;
}

li :hover {
  text-decoration: underline;
  
}

.sectionTitle {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 100;
}

#profile {
  position: relative;
  display: flex;
  align-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#sexyAssConnor {
  width: 400px;
  height: 400px;
  z-index: 1;
  position: absolute;
  -webkit-transform: translate(600px, 40px);
  transform:translate(740px, 40px);
  
}

#blueFrame {
  width: 470px;
  height: 300px;
  padding: 70px 130px 0px 40px;
  -webkit-transform: translateX(200px);
  transform:translateX(200px);
  background-color: #1B4A69;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
}

.logos {
  display: flex;
  flex-direction: row;
}

#logo {
  height: 200px;
  width: 200px;
}

.logos :hover{
  background-color: black;
}